/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #dddbdb;
}
.section-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    color: #562EFF;
    padding-top: 30px;
    padding-left: 30px;
}
/* Default CSS */
.container{
    width: 1000px;
    margin: auto;
}
/* Top header Style */
.header {
    background: #562EFF;
}
.logo img {
    height: 60px;
    padding: 10px 0;
    cursor: pointer;
}
.main-header.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 28px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* Top Player Style */
.top-Player {
    background: #fff;
    margin-top: 12px;
    border-radius: 5px;
}
.all-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.player-details {
    display: flex;
    align-items: center;
}
.player-details img {
    width: 56px;
    height: 56px;
}
.player-details p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color: #000;
    margin-left: 16px;
}

